<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>John Shelby - Minimal Personal Portfolio Template</title>
	<!-- Styles -->
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<!-- Scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/menu.js"></script>
	<script src="js/scroll.js"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.png"> 
</head>
<body class="fade-in cmon">

	<!-- HEADER /////////////////////////////////////////////////////////////////////////// -->
	<header id="welcome" class="parent">
		<div class="fade child">
			<div class="container_small">
				<!-- Navigation -->
				<nav>
					<ul >
						<li class="hide menu"><a href="#about">About</a></li>
						<li class="hide menu"><a href="#portfolio">Works</a></li>
						<li class="hide menu"><a href="#contact">Contact</a></li>
					</ul>
					<p class="burger"><img src="images/burger.png" alt="Menu"></p>
				</nav>
				<!-- Header Titles -->
				<h1 class="header_title">John Shelby</h1>
				<h2 class="header_subtitle">Web Designer</h2>
			</div>
		</div>
	</header>
	<!-- END HEADER /////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ABOUT SECTION /////////////////////////////////////////////////////////////////////////// -->
	<section id="about">
		<div class="container_small">
			<h2 class="section_title">Who Am I?</h2>
			<h3 class="section_subtitle">Front-end Developer & Web Designer</h3>
			<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
			<a href="#" class="button"><i class="fa fa-download"></i> My Resume</a>
		</div>
	</section>
	<!-- END ABOUT SECTION /////////////////////////////////////////////////////////////////////////// -->
	
	<!-- PORTFOLIO SECTION /////////////////////////////////////////////////////////////////////////// -->
	<section id="portfolio">
		<div class="container_big">
			<h2 class="section_title">My Works</h2>
			<h3 class="section_subtitle">Simple & Creative</h3>
			<div class="works">
				<!-- Work 01 -->
				<article>
					<a href="#">
						<div class="border">
							<img src="images/work.jpg" alt="">
							<h3 class="caption">Work 01</h3>
						</div>
					</a>
				</article>
				<!-- Work 02 -->
				<article>
					<a href="#">
						<div class="border">
							<img src="images/work.jpg" alt="">
							<h3 class="caption">Work 02</h3>
						</div>
					</a>
				</article>
				<!-- Work 03 -->
				<article>
					<a href="#">
						<div class="border">
							<img src="images/work.jpg" alt="">
							<h3 class="caption">Work 03</h3>
						</div>
					</a>
				</article>
				<!-- Work 04 -->
				<article>
					<a href="#">
						<div class="border">
							<img src="images/work.jpg" alt="">
							<h3 class="caption">Work 04</h3>
						</div>
					</a>
				</article>
				<!-- Work 05 -->
				<article>
					<a href="#">
						<div class="border">
							<img src="images/work.jpg" alt="">
							<h3 class="caption">Work 05</h3>
						</div>
					</a>
				</article>
				<!-- Work 06 -->
				<article>
					<a href="#">
						<div class="border">
							<img src="images/work.jpg" alt="">
							<h3 class="caption">Work 06</h3>
						</div>
					</a>
				</article>
			</div>
		</div>
	</section>
	<!-- END PORTFOLIO SECTION /////////////////////////////////////////////////////////////////////////// -->
	
	<!-- CONTACT SECTION /////////////////////////////////////////////////////////////////////////// -->
	<section id="contact">
		<div class="container_small">
			<h2 class="section_title">Say Hello!</h2>
			<h3 class="section_subtitle">Let's Make Something Awesome</h3>
			<div class="info">
				<!-- Address -->
				<div>
					<i class="fa fa-map-marker"></i>
					<h3>Address</h3>
					<p>3525 Miskolc <br> Vologda, 23 5/2 <br> Hungary</p>
				</div>
				<!-- Phone -->
				<div>
					<i class="fa fa-mobile"></i>
					<h3>Phone</h3>
					<p>+ 123 456 7890</p>
				</div>
				<!-- Email -->
				<div>
					<i class="fa fa-envelope-o"></i>
					<h3>Email</h3>
					<p>info@example.com</p>
				</div>
			</div>
			<!-- Social icons -->
			<div class="social">
				<!-- Dribbble -->
				<a href="#" target="_blank">
					<i class="fa fa-dribbble"></i>
				</a>
				<!-- Behance -->
				<a href="#" target="_blank">
					<i class="fa fa-behance"></i>
				</a>
				<!-- Facebook -->
				<a href="#" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
				<!-- Twitter -->
				<a href="#" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
				<!-- Instagram -->
				<a href="#" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
			</div>
		</div>
	</section>
	<!-- END CONTACT SECTION /////////////////////////////////////////////////////////////////////////// -->	
	
	<!-- FOOTER /////////////////////////////////////////////////////////////////////////// -->
	<footer>
		<div class="container_footer">
			<div class="left">
				<p>© 2014 <span>John Shelby</span></p>
			</div>
			<div class="right">
				<a href="#welcome">Return to Top <i class="fa fa-long-arrow-up"></i></a>
			</div>
		</div>
	</footer>
	<!-- END FOOTER /////////////////////////////////////////////////////////////////////////// -->	
</body>
</html>